
body {
    background-color:black;
}

.instruction {
 text-align: center;
 height: auto;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-bottom: 100px;
}

.main-page {
    display: flex;
    width:100%;
}

.introduce {
    width: 45%;
    margin-left: 18%;
}
.introduce h2 {
    color: darkviolet;
    font-size: 48px;
}
.introduce p {
    width: 80%;
    color: deeppink;
    font-size: 24px;
}

.block-signin {
    width:30%;
    margin-right: 12%;
    text-align: center;
    background-color: deepskyblue;
    padding-top: 20px;
    border-radius: 10px;
}

.block-signin input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: deepskyblue 0px solid;
}

input.submit {
    background-color: blue;
    height: 40px;
    border: blue 0px solid;
}

input.submit:hover {
    background-color: blueviolet;
}

p.sign-up {
   color:blue;
}

p.sign-up a {
    color: blueviolet
}

p.sign-up a:hover {
    color: tomato;
} 