.title,.footer {
    background-color: aquamarine;
    height: 10vh;
}
.left-sidebar {
    background-color: white;
    height: 80vh;
}
.main-page {
    background-color: antiquewhite;
    height: 80vh;
}